@page "/Shop"
@using Contracts
@using Entities
@inject IProductService _productService
@inject IOrderService _orderService
@inject NavigationManager NavMgr


  <h1 class="title">Bicyclest </h1>
    <h4 class="motto">pedal as far as you can . .</h4>
<nav>
        @if (products == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (!products.Any())
        {
            <p>
                <em>Nobody here, please find some friends.</em>
            </p>
        }
        else
        {
            int cont = 0;
            @foreach (Product p in products)
            {<!-- Alternative look"background-image: url(@p.url);background-size: cover; background-color: rgba(10,10,10,.5);background-blend-mode: overlay;" -->
                <ul style="background-image: url(@p.url);background-size: contain; background-repeat: no-repeat;background-position: center;  background-color: rgba(10,10,10,.5);background-blend-mode: overlay;">
                                     <p class="box">
                                         <span>@p.name</span>
                                         <br/>
                                         <strong class="subtitle">@p.value kr</strong>
                                         <br/>
                                         <strong class="content">@p.description</strong>
                                         <br/>
                                         <button @onclick="()=>AddToCart(p.productId)">Add to cart</button>
                                     </p>
                                 </ul>
            }

        }
</nav>




@code {
    private IList<Product> products;
    //private IList<Order> orders;
    private Order cart;
    protected override async Task OnInitializedAsync()
    {
        products = await _productService.GetProductsAsync();
        //orders = await _orderService.GetAllOrdersAsync();
    }
    private void AddToCart(int id)
    {
        
    }
}